body{
    font-family: 'Poppins', sans-serif; 
    background: #2A5C99;
  }

form{
    justify-content: center;
}

.container{
    display:flex;
    align-items: center;
    background-color: #EFF0F6;
    border-radius: 14px;   
    width: 491px; 
    height: 621px;
    width: 491px;
    left: 474px;
    top: 202px;
}

  .key{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 221px;
    top: 40px;
}

h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}
    
p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0em;
    text-align: center;
}

input{
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    padding: 0 10px;
}

.input-container{
    gap: 20px;
}

.Login-btn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px;
    height: 56px;
    width: 342px;
    border: none;
    background: #2A5C99;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px; 
  }
  
.back{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18.741px;
    position: absolute;
    width: 342px;
    height: 56px;
    left: 75px;
    top: 507px; 
    border: 1px solid #2A5C99;
    border-radius: 8px;
}
