:root{  
   --primary-color: white;
   --text-color: #2A5C99;
   --link-color: #6E7191;
   --panel-color: white; 
   --logo-color: white;
   --page-color: #F7F7FC;
   --search-color: #CFCFCF;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--page-color);
    width: 100%;
    max-width: 1443px;
    height: 100%;
    overflow: scroll;

}

body.dark{
    --page-color: #3A3B3C;
    --panel-color: #242526;
    --link-color: white;
    --text-color: white;
    --logo-color: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 255px;
    background-color: var(--panel-color);
    border-right: 2px solid grey;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
    background-color: var(---logo-color);
}

nav .logo-image img{
    width: 100px;
    padding-top: 20px;
    padding-right: 35px;
}

nav .menu-items{
    
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}
body.dark li a:hover:before{
    background-color: var(--page-color)
}


.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

body.dark li a:hover:before{
    background-color: var(--page-color);
}

.menu-items li a svg{
    min-width: 25px;
    padding-right: 20px;
    height: 100%;
    color: var(--text-color);
}

.menu-items li a i{
    min-width: 25px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.menu-items li a .link-name{
    font-size: 16px;
    font-weight: 500;
    color: var(--link-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--page-color)
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 2px solid lightgray;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    border-right: 1px solid lightgray;
}

.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 30px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    border-radius: 25px;
    height: 22px;
    width: 40px;
    background-color: #E6E6E6;
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.2s ease;
}

body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: fixed;
    top: 0;
    left:257px;
    height: 72px;
    width: 100%;
    max-width: 1220px;
    padding: 10px 14px;
    background-color: var(--panel-color);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 256px;
    height: 72px;
    display: flex;
    width: 1187px;
    justify-content: space-between;
    padding: 10px 14px;
}

.dashboard .top h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--text-color);

}

.dashboard .top .search-box{
    position: relative;
    padding-top: 15px;
    height: 42px;
    max-width: 45px;
    width: 100%;
    margin: 0 30px;

}

.top .search-box input{
    position: absolute;
    border: 1px solid #CFCFCF;
    background-color: var(--panel-color);
    padding:0 25px 0 50px;
    border-radius: 8px;
    color: #CFCFCF;
    height: 42px;
    width: 366px;
}

.top .search-box i{
    position: absolute;
    padding-top: 13px;
    left: 15px;
    font-size: 16px;
    color: #CFCFCF;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

}

.dashboard .top .avatar{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 210px;
    padding-right: 80px;
    padding-top: 20px;
    height: 35px;
    max-width: 45px;
    width: 100%;
    margin: 0 30px;

}

.top .img{
    width: 70px;
    border-radius: 50%;

}
.top .avatar .p{
    color: var(--link-color);
}

.mini__dash{
    width: 100%;
    max-width: 1180px;
    height: 20px;
    position: absolute;
    padding-left: 300px;
    padding-top: 100px;
}

.dash-content{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.intro{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
    color: var(--link-color);
}

.btns{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-right: 20px;
}

.btns .i{
    padding-right: 20px;
}


.withdraw{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    width: 126px;
    height: 44px;
    color: #2A5C99;
    background: white;
    border: 1px solid #2A5C99;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.fund{
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    width: 126px;
    height: 44px;
    background: #2A5C99;
    border: 2px solid #2A5C99;
    margin-left: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}


.boxes{
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 728px;
    height: 151px;
    padding-top: 50px;
    margin-top: 60px;
}

.boxes .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    margin-right: 10px;
    width: 400px;
    height: 130px;
    padding: 15px 20px;
    background-color: white;
}

.boxes .box .box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box .text{
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #6E7191;
}

.box .number{
    font-size: 42px;
    font-weight: 500;
    color: #14142B;
}


.activities{
    background-color: white;
    width: 100%;
    max-width: 728px;
    height: 400px;
    margin-top: 300px;
}

.activities h5{
    font-size: 15px;
    font-weight: 500px;
    color: #4E4B66;
    width: 75px;
    height: 30px;
    margin-left: 24px;
    padding-top: 23px;

}

.chart{
    width: 679px;
    height:259px;
    padding-top: 20px;
    margin-left: 24px;
}

.transactions{
    background-color: white;
    margin-top: 70px;
    max-width: 728px;
    height: 271px;
}

.title{
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    width: 206px;
    padding-left: 22px;
    margin-top: 21px;
    margin-bottom: 22px;
}

.transactions .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 728px;
}

.activity-data{
    display: flex; 

}

.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title{
    font-size: 16px;
    font-weight: 500;
}

.activity-data .data .data-list{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
}

.side-tings .side{
    justify-content:center
    position: absolute;;
    margin-top: 20px;
}

.notifications{
    max-width: 400px;
    height: 100%;
    max-height: 646px;
    border-radius: 8px;
    margin-left: 1053px;
    background-color: white;
}

.notifications .notfs{
    color: #4E4B66;
    font-size: 20px;
    font-weight: 500;
    padding-left: 16px;
    margin-top: 25px;
    margin-bottom: 16px;
}
.notificationbox1{
    display: flex;
    align-items: center;
    width: 320px;
    margin-left: 16px;
    padding-bottom: 20px;

}
.notificationbox1 img{
    Width: 40px;
    Height: 40px;
    margin-right: 12px;
    
}

.notificationbox1 .bold{
    color: #2A5C99;
}

.pop-ups{
    max-width: 400px;
    min-height: 300px;
    border-radius: 8px;
    margin-top: 24px;
    margin-left: 1053px;
    background-color: white;
}

.tips{
    color: #4E4B66;
    font-size: 20px;
    font-weight: 500;
    width: 138px;
    padding-left: 16px;
    margin-top: 25px;
    margin-bottom: 16px;
}

.finacialbox{
   
}

.financial1{
    background-color: lightblue;
    margin-top: 16px;
    width: 324px;
    height: 126px;
    border-radius: 8px;
    margin-left: 20px;
}

.bold{
    font-size: 12px;
    font-weight: 600;
    width: 180px;
    color:#2A5C99;
    margin-left: 16px;
    padding-top: 12px;
}

.startup{
    font-size: 14px;
    font-weight: 500;
    color: #14142B;
    width: 241px;
    margin-left: 16px;
}

.money{
    font-size: 12px;
    font-weight: 500;
    width: 273px;
    color: #8486A4;
    margin-left: 16px;
}