*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.hero__section{
    width: 100%;
    max-width: 1440px;
    height: 1000px;
    position: relative;
    padding: 0 20px;
}


img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #4E4B66;
}

.btn{
    display: flex;
    justify-content:space-around;
}
.login{
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 105px;
    height: 44px;
    background: white;
    border: 1px solid #2A5C99;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.get{
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 105px;
    height: 44px;
    background: #2A5C99;
    border: 2px solid #2A5C99;
    margin-left: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.wrapper{
    width: 100%;
    height: 96px
}

.container{
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    width: 100px;
}

.links ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.links a{
    color: #4E4B66;
    margin-left: 25px;
    display: inline-block;
    transition: .3s;
}

.links a:hover{
    color:#14142B;
    transform: scale(1.05);
}

.login:hover{
    color:white;
    transform: scale(1) !important;
}
.get:hover{
    color:#14142B;
    transform: scale(1) !important;
}

.inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;
    position: absolute;
    width: 100%;
    max-width: 1041px;
    height: 894px;
    left: 200px;
    top: 161px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 760px;
    height: 361px;

}

.profile h1{
    font-family: Poppins;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;

}

.profile p{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #6E7191;
}

.bbt{
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    width: 120px;
    height: 44px;
    background: #2A5C99;
    border: 2px solid #2A5C99;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.bbt:hover{
    color:#14142B;
    transform: scale(1) !important;
}

.About__section{
    width: 100%;
    max-width: 1440px;
    height: 800px;
    position: relative;
    padding: 0 20px;
}


.abs{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 100px;
    letter-spacing: 0px;
    text-align: center;
}

.section-two-wrapper{
    display: block;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px
}

.wrapper2{
    width: 544px;
    height: 100%;
}

.describe-us{
    padding-left: 20px;
    float: left;
    gap: 32px;
    width: 547px;
    height: 280px;
}

.mssg{
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;
    width: 143px;
    height: 52px;
    background: #2A5C99;
    border: 2px solid #2A5C99;
    border-radius: 8px;
    cursor: pointer;
}

.Offer__section{
    width: 100%;
    max-width: 1440px;
    height: 500px;
    position: relative;
    padding: 0 20px;
}

.offer{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 5px;
    padding-bottom: 56px;
    letter-spacing: 0px;
    text-align: center;
}

.all_offers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    max-width: 100%;
}
  
.all_offers p{
    gap: 20px;
}
.offers-one{
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 300px;
    font-size: 16px;
    background: #AFFAFF4D;
}

.offers-two{
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 304px;
    font-size: 16px;
    background: #C6A3FF4D;
    padding-left: 20px;
}
  
.offers-three{
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 304px;
    font-size: 20px;
    background:#D803131A;
}

.offers-four{
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 304px;
    font-size: 20px;
    background:#9BC8FF4D;
}


.inner-container2{
    width: 100%;
    height: 514;
    color: white;
}

.any{
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    padding-top: 61px;
    color: white;
    letter-spacing: 0px;
    text-align: center;
}

.wrapper-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Contact{
    width: 100%;
    max-width: 1440px;
    height: 514px;
    padding:0 20px;
    background-color: #2A5C99;
}
.customer-care{
    padding-top: 90px;
}

.any{
    font-size: 30px;
}

.customer{  
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    height: 60px;
    width: 484px;
    left: 100px;
    border-radius: nullpx;
}

.e-mail{
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.inbox{
    display:inline-block;
}
.ajo-mail{
    text-decoration: underline;
}

.line{  
    width: 173px;
    height: 0px;
    left: 720px;
    top: 350px;
    border: 2px solid #D9DBE9;
    transform: rotate(90deg);
}

.call{
    padding-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    width: 364px;
    height: 29px;
}

.faq-section{
    width: 100%;
    margin: auto;
    padding-top: 20px;
    height: 700px;
}
.question-container{
    max-width: 900px;
    margin: auto;
}

.question-container h3{
    margin: 15px, 0;
    letter-spacing: 3px;
    padding-left: 110px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    height: 15px;
    width: 671px;

}

.question-container h2{
    margin: 10px, 0;
    padding-left: 100px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    width: 510px;
}

.accord{
    background-color: #D9DBE9;
    color: black;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    padding: 20px 15pxrem;
    border: none;
    outline:none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accord i{
    font-size: 13px;
}

active.accord:hover{
    background-color: #f1f7f5;
}

.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    gap: 20px;
}

.pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    line-height: 1.4;

}

.footer-container{
    max-width: 1440px;
    height: 442px;
    background-color: transparent;
    margin: auto;   
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo{
    margin-bottom: 30px;
}

.subscribe h4{
    color: white;
    margin-bottom: 20px;

}
form{
    display: flex;
    flex-direction: row;
    border: 0px solid;
    padding: 1px;
    border-radius: 18px;
}

input{
    flex-grow: 2;
    border: 1px solid white;
    height: 56px;
    border-radius: 10px;
    background-color: #2A5C99;
    text-align: center;
    font-size: 16px;

}

input:focus{
    outline: none;
}

form:focus{
    outline: 1px solid;
}

.form-btn{
    border: none;
    width: 110px;
    padding-left: -20px;;
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 16px;
}

ul{
    list-style: none;
}

.footer{
    background-color: #2A5C99;
    padding: 70px 0;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.footer-col{
    width: 25%;
    padding: 0 90px;

}

.footer-col h4{
    font-size: 16PX;
    font-weight: 600;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 85px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col   ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: block;
}

.social-links{
    margin-top: 10px;
}

.social-links a{
    margin-right: 5px;
    color: white;
}
