body {
    font-family: 'Poppins', sans-serif;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(42, 92, 153) 0%, rgb(95, 37, 85) 100%);
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF0F6;
    border-radius: 14px;
    width: 491px;
    height: 621px;
    margin: 0 auto;
}

svg {
    display: block;
    margin: 0 auto;
}

h2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    letter-spacing: 0em;
}

input {
    display: block;
    height: 56px;
    width: 320px;
    border-radius: 15px;
    font-size: 16px;
    padding: 0 10px;
}

.input-container {
    gap: 20px;
}

.Login-btn {
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    border: none;
    background: #2A5C99;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 70px;
    margin-bottom: 18px;
}



/* .back {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18.741px;
    position: absolute;
    width: 342px;
    height: 56px;
    left: 75px;
    top: 507px;
    border: 1px solid #2A5C99;
    border-radius: 8px;
} */