body {
  font-family: 'Poppins', sans-serif;
  background: #2A5C99;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
  background: #EFF0F6;
  margin: 30px 20px;
  padding: 25px;
  border-radius: 24px;
}

.form-section {
  width: 525px;
  max-width: 100%;
  /* border: 2px solid red; */

}

.img-section {
  width: 346px;
  /* border: 2px solid blue; */
}


.input-fields {
  width: 100%;
  max-width: 520px;
  border: none;
  height: 56px;
  border-radius: 15px;
  font-size: 16px;
}

form {
  width: 525px;
}

input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check {
  display: flex;
  justify-content: space-between;
}

.special {
  font-weight: 400;
  text-decoration: underline;
}

.signinBtn {
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  border: none;
  outline: none;
  background: #2A5C99;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
}

.login-statement {
  text-align: center;

}

.login-statement a {
  border: 1px solid;
  color: #2A5C99;
  text-decoration: underline;
}

form h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
}

.login-avatar {
  width: 85%;
}

.placeholder-img {
  display: none;
}

@media screen and (max-width: 1200px) {
  * {
    max-width: 100%;
  }



}

@media screen and (max-width: 900px) {

  form {
    max-width: 85vw;
  }

}

@media screen and (max-width: 750px) {
  .container {
    max-height: 100%;
  }

  .img-section {
    display: none;
  }

  .placeholder-img {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
  }

  form h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #14142B;
  }

}

@media screen and (max-width: 600px) {
  .input-fields {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 400px) {}


@media screen and (max-width: 360px) {}